.grilleGeneral{
    
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.Gauche {
    display:flex;    
    
}

.haut {
    width: 200px;
    height: 100px;
    background-color: green;
    border-radius: 10px;

}

.bas {
    width: 200px;
    height: 150px;
    border-radius: 10px;

}

.droite {
    background-color: blueviolet;
    

}